<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.smart.business.book.mapper.BookInInfoMapper">
    <sql id="bookInInfo_fields">
	    ID,InGoodID,InGoodName,InGoodDate,InGoodCount,unit,GoodAount,InGoodPeople,OutGoodUser,BelongCK,LendToID,FirstDepartmentName
	</sql>
    <resultMap id="bookInInfoResultMap" type="BookInInfo">
        <id property="ID" column="ID" />
        <result property="InGoodID" column="InGoodID" />
        <result property="InGoodName" column="InGoodName" />
        <result property="InGoodDate" column="InGoodDate" />
        <result property="InGoodCount" column="InGoodCount" />
        <result property="unit" column="unit" />
        <result property="GoodAount" column="GoodAount" />
        <result property="InGoodPeople" column="InGoodPeople" />
        <result property="OutGoodUser" column="OutGoodUser" />
        <result property="BelongCK" column="BelongCK" />
        <result property="LendToID" column="LendToID" />
        <result property="FirstDepartmentName" column="FirstDepartmentName" />

    </resultMap>




</mapper>