<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.smart.business.book.mapper.BooksMapper">
    <sql id="books_fields">
       ID, productID, productName,Amount,unit,Safeamount,productType,BelongStorage,Addtime,Adduser,Price,totalPrice,LendToID,IsLendOut, Days,LastLendTime,FirstDepartmentName, IDandAdd,category
	</sql>
    <resultMap id="booksResultMap" type="Books">
        <id property="ID" column="ID" />
        <result property="productID" column="productID" />
        <result property="productName" column="productName" />
        <result property="Amount" column="Amount" />
        <result property="unit" column="unit" />
        <result property="Safeamount" column="Safeamount" />
        <result property="productType" column="productType" />
        <result property="BelongStorage" column="BelongStorage" />
        <result property="Addtime" column="Addtime" />
        <result property="Adduser" column="Adduser" />
        <result property="Price" column="Price" />
        <result property="totalPrice" column="totalPrice" />
        <result property="LendToID" column="LendToID" />
        <result property="IsLendOut" column="IsLendOut" />
        <result property="Days" column="Days" />
        <result property="LastLendTime" column="LastLendTime" />
        <result property="FirstDepartmentName" column="FirstDepartmentName" />
        <result property="IDandAdd" column="IDandAdd" />
        <result property="category" column="category" />
    </resultMap>
    <insert id="add" parameterType="Books"  keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        Books(
        <include refid="books_fields" />
        )
        VALUES (#{ID}, #{productID}, #{productName},#{Amount},#{unit},#{Safeamount},#{productType},#{BelongStorage},#{Addtime},
        #{Adduser},#{Price},#{totalPrice},#{LendToID},
        #{IsLendOut}, #{Days},#{LastLendTime},#{FirstDepartmentName},#{IDandAdd},#{category});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="searchAllBooks" resultMap="booksResultMap" parameterType="map">
        select
        <include refid="books_fields" />
        from books
        <where>
            1=1
            <if test="productID!=null">AND productID=#{productID}</if>
            <if test="productName!=null">AND productName like #{productName}</if>
            <if test="BelongStorage!=null">AND BelongStorage=#{BelongStorage}</if>
            <if test="Adduser!=null">AND Adduser=#{Adduser}</if>
            <if test="category!=null">AND category=#{category}</if>
        </where>
    </select>
</mapper>