<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.smart.business.book.mapper.BookDonatorMapper">
    <sql id="bookDonator_fields">
	    ID,productID,productName,Addtime,Adduser,Price,Damount
	</sql>
    <resultMap id="bookDonatorResultMap" type="BookDonator">
        <id property="ID" column="ID" />
        <result property="productID" column="productID" />
        <result property="productName" column="productName" />
        <result property="Addtime" column="Addtime" />
        <result property="Adduser" column="Adduser" />
        <result property="Price" column="Price" />
        <result property="Damount" column="Damount" />
    </resultMap>

</mapper>