<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.smart.business.book.mapper.BookOutHistoryMapper">
    <sql id="bookOutHistory_fields">
	    ID,OutGoodID,OutGoodName,OutGoodCount,unit,OutGoodPeople,BelongCK,OutGoodDate,OutGoodRemark,LendToID,FirstDepartmentName
	</sql>
    <resultMap id="bookOutHistoryResultMap" type="BookOutHistory">
        <id property="ID" column="ID" />
        <result property="OutGoodID" column="OutGoodID" />
        <result property="OutGoodName" column="OutGoodName" />
        <result property="OutGoodCount" column="OutGoodCount" />
        <result property="unit" column="unit" />
        <result property="OutGoodPeople" column="OutGoodPeople" />
        <result property="BelongCK" column="BelongCK" />
        <result property="OutGoodDate" column="OutGoodDate" />
        <result property="OutGoodRemark" column="OutGoodRemark" />
        <result property="LendToID" column="LendToID" />
        <result property="FirstDepartmentName" column="FirstDepartmentName" />
    </resultMap>

</mapper>